@model IEnumerable<BudgetMaster.Models.ActualExpense>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseCategory.Label)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseCategory.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ActualExpenseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ActualExpenseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ActualExpenseId">Delete</a>
            </td>
        </tr>
        }
        <tr>
        <td></td>
        <td>
            @String.Format("{0:c}", Model.Sum(s => s.Amount))
        </td>
    </tr>
    </tbody>
</table>
