@*@model IEnumerable<BudgetMaster.Models.ViewModels.AllBudgetsViewModel>*@ 

@model BudgetMaster.Models.Budget

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">BudgetMaster</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
                Budgeted Income
            <table class="table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>ProjectedIncomeId</th>
                        <th>IncomeCategoryLabel</th>
                        <th>CategoryId</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProjectedIncomes)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ProjectedIncomeId)</td>
                            <td>@Html.DisplayFor(modelItem => item.IncomeCategoriesList[0].Label)</td>
                            <td>@Html.DisplayFor(modelItem => item.IncomeCategoryId)</td>
                            <td>@Html.DisplayFor(modelitem => item.Amount)</td>
                        </tr>
                    }
                        <tr>
                            <td></td>
                            <td>Total Budgeted Income</td>
                            <td></td>
                            <td>
                               
                                @String.Format("{0:c}", Model.ProjectedIncomes.Sum(x => x.Amount))
                            </td>
                    
                        </tr>
                </tbody>

            </table>
        </div>
        <div class="col">
            Actual Income
            <table class="table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>ActualIncomeId</th>
                        <th>IncomeCategoryLabel</th>
                        <th>CategoryId</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ActualIncomes)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ActualIncomeId)</td>
                            <td>@Html.DisplayFor(modelItem => item.IncomeCategoriesList[0].Label)</td>
                            <td>@Html.DisplayFor(modelItem => item.IncomeCategoryId)</td>
                            <td>@Html.DisplayFor(modelitem => item.Amount)</td>
                        </tr>
                    }

                        <tr>
                            <td></td>
                            <td>Total Actual Income</td>
                            <td></td>
                            <td>@String.Format("{0:c}", Model.ActualIncomes.Sum(x => x.Amount))</td>
                        </tr>
                </tbody>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Budgeted Expense
            <table class="table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>ProjectedExpenseId</th>
                        <th>ExpenseCategoryLabel</th>
                        <th>CategoryId</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProjectedExpenses)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ProjectedExpenseId)</td>
                            <td>@Html.DisplayFor(modelItem => item.ExpenseCategoriesList[0].Label)</td>
                            <td>@Html.DisplayFor(modelItem => item.ExpenseCategoryId)</td>
                            <td>@Html.DisplayFor(modelitem => item.Amount)</td>
                        </tr>
                    }

                        <tr>
                            <td></td>
                            <td>Total Budgeted Expenses</td>
                            <td></td>
                            <td>@String.Format("{0:c}", Model.ProjectedExpenses.Sum(x => x.Amount))</td>
                        </tr>
                </tbody>

            </table>
        </div>
        <div class="col">
            Actual Expense
            <table class="table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>ActualExpenseId</th>
                        <th>ExpenseCategoryLabel</th>
                        <th>CategoryId</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ActualExpenses)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ActualExpenseId)</td>
                            <td>@Html.DisplayFor(modelItem => item.ExpenseCategoriesList[0].Label)</td>
                            <td>@Html.DisplayFor(modelItem => item.ExpenseCategoryId)</td>
                            <td>@Html.DisplayFor(modelitem => item.Amount)</td>
                        </tr>
                    }

                        <tr>
                            <td></td>
                            <td>Total Actual Expenses</td>
                            <td></td>
                            <td>@String.Format("{0:c}", Model.ActualExpenses.Sum(x => x.Amount))</td>
                        </tr>

                </tbody>
            </table>
        </div>
        <div>
            temp debugging info<br />
            @Html.DisplayFor(model => model.BudgetId) BudgetId<br />
            @Html.DisplayFor(model => model.CreatedMonth) CreatedMonth<br />
            @Html.DisplayFor(model => model.CreatedYear) CreatedYear<br />
        </div>
    </div>
</div>