@*@model IEnumerable<BudgetMaster.Models.ViewModels.AllBudgetsViewModel>*@

@*model BudgetMaster.Models.Budget*@
@model BudgetMaster.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">BudgetMaster</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Budgeted Income</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Budget.ProjectedIncomes)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.IncomeCategory.Label)</td>
                            <td>@Html.DisplayFor(modelitem => item.Amount)</td>
                        </tr>
                    }
                    <tr>
                        <td><i>Total Budgeted Income</i></td>
                        <td><i>@String.Format("{0:c}", Model.Budget.ProjectedIncomes.Sum(x => x.Amount))</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Actual Income</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Budget.ActualIncomes)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.IncomeCategory.Label)</td>
                            <td>@Html.DisplayFor(modelitem => item.Amount)</td>
                        </tr>
                    }
                    <tr>
                        <td><i>Total Actual Income</i></td>
                        <td><i>@String.Format("{0:c}", Model.Budget.ActualIncomes.Sum(x => x.Amount))</i></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="w-100"></div>

        <div class="col">
            <table class="table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Budgeted Expense</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Budget.ProjectedExpenses)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ExpenseCategory.Label)</td>
                            <td>@Html.DisplayFor(modelitem => item.Amount)</td>
                        </tr>
                    }
                    <tr>
                        <td><i>Total Budgeted Expenses</i></td>
                        <td><i>@String.Format("{0:c}", Model.Budget.ProjectedExpenses.Sum(x => x.Amount))</i></td>
                    </tr>
                    @{ 
                        decimal pi = Model.Budget.ProjectedIncomes.Sum(x => x.Amount);
                        decimal pe = Model.Budget.ProjectedExpenses.Sum(x => x.Amount);
                    }
                    <tr>
                        <th>Total</th>
                        <th>@String.Format("{0:c}", pi - pe)</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Actual Expense</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Budget.ActualExpenses)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ExpenseCategory.Label)</td>
                            <td>@Html.DisplayFor(modelitem => item.Amount)</td>
                        </tr>
                    }
                    <tr>
                        <td><i>Total Actual Expenses</i></td>
                        <td><i>@String.Format("{0:c}", Model.Budget.ActualExpenses.Sum(x => x.Amount))</i></td>
                    </tr>
                    @{
                        decimal ai = Model.Budget.ActualIncomes.Sum(x => x.Amount);
                        decimal ae = Model.Budget.ActualExpenses.Sum(x => x.Amount);
                    }
                    <tr>
                        <th>Total </th>
                        <th>@String.Format("{0:c}", ai - ae)</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row"><tr><td></td></tr></div>
    <div class="row">
        <div>
            Budget Information<br />
            @Html.DisplayFor(model => model.Budget.User.Email) -- User<br />
            @Html.DisplayFor(model => model.Budget.BudgetId) -- BudgetId<br />
            @Html.DisplayFor(model => model.Budget.CreatedMonth) -- CreatedMonth<br />
            @Html.DisplayFor(model => model.Budget.CreatedYear) -- CreatedYear<br />
        </div>

    </div>

</div>