@model IEnumerable<BudgetMaster.Models.ProjectedIncome>

@{
    ViewData["Title"] = "Index";
}
<div class="text-left">
    <img src="images/BMlogoSM.png" />
    <h4>Budgeted Income</h4>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.IncomeCategory.Label)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeCategory.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectedIncomeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectedIncomeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectedIncomeId">Delete</a>
            </td>
        </tr>
}
        <tr>
            <td></td>
            <td>@String.Format("{0:c}", Model.Sum(s => s.Amount))</td>
        </tr>
    </tbody>
</table>
